<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>Cameleon - The AD-Free ROM Site</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title">Cameleon</h1>
          <h2 id="project_tagline">The AD-Free ROM site</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>What is Cameleon?</h1>
<h2></h2>
        <h3>Cameleon is an AD-Free ROM site.</h3>
        <h4>You can get here only new and old Nintendo Games for free, more will come later</h4>
        <div id="download" class="btn-group" role="group" aria-label="Download">
        <a class="btn btn-danger" href="https://nicoai.github.io/Cameleon/"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> Home</a>
       <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> NES ROMS</a>
        <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> SNES ROMS</a>
       <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> N64 ROMS</a>
       <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> GC ROMS</a>
        <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> WII ROMS</a>
        <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> GB/GBC ROMS</a>
        <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> GBA ROMS</a>
       <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> NDS ROMS</a>
       <h2></h2>
          <a class="btn btn-danger" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> 3DS ROMS</a>
        
      </section>
    </div>
  </body>
</html>
